<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Barbearia Classic-Cut</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="shortcut icon" href="/logo/logotipo.jpg" type="image/x-icon">
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<style>
body{
    
}

img{
    position: absolute;
    float: right;
    width: 200px;
    height: 150px;
}


</style>
<body>
    <form action="" method="post">
        <label for="id">Id:</label>
        <input type="number"><br>
        <label for="barber">Barbeiro:</label>
        <input type="text"><br>
        <label for="idade">Idade</label>
        <input type="number" name="age" id="age"><br>
        <label for="workplace">Local de Trabalho:</label>
        <input type="text">
    </form>

    <img src="/logo/logotipo.jpg" alt="logo">
</body>
</html>