<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Barbearia Classic-Cut</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="shortcut icon" href="/logo/logotipo.jpg" type="image/x-icon">
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<style>
body{
    font-family:  Arial, sans-serif;
    background-image: url('../imgs/barbeiros.jpg');
    font-weight: bold;
}

img{
    width: 200px;
    height: 200px;
}


form{
   justify-self:  center;
   background-image:linear-gradient(to left,rgb(223, 12, 12),white,rgb(0, 68, 255),rgb(243, 3, 3),white,rgb(0,68,255),white) ;
   padding: 50px;
   border-radius: 30px;
   width: 400px;
}



</style>
<body>
    <form action="" method="post">
        <label for="id">id:</label>
        <input type="number"><br><br>
        <label for="barber">Barbeiro:</label>
        <input type="text"><br><br>
        <label for="idade">idade</label>
        <input type="number" name="age" id="age"><br><br>
        <label for="workplace">Local de Trabalho:</label>
        <input type="text"><br><br>
        <button onclick="" style="font-weight: bolder;" type="submit">Adicionar barbeiro</button><br>
        <img src="/logo/logotipo.jpg" alt="logo">

    </form>

   
</body>
</html>